@{
    ViewData["Title"] = "40K Home Page";
}

<div class="text-center">
    <h1 class="display-4">Warhammer 40,000</h1>
    <!--Put image here, cool space marine image-->
	<img class="card-img" src="~/img/astartes.jpg" style="width: 1000px;"/>
    <h2>In The Grim Darkness Of The Far Future</h2>
    <h2>There Is Only War</h2><br />
    <p>Warhammer 40,000 is a tabletop war game set in the year 40,000 of our own Milky Way Galaxy. It contains different factions of humans, aliens, and demonic beings for you to fight against and play with your friends in a game of massive proportions for the fate of the entire galaxy.</p>
    <p>To play 40K, everyone builds and paints their own miniature armies of whichever faction they find fun. Some prefer the hearty, gentically-enhanced Space Marines; others prefer the chaotic and ruthless Orks. No matter what you play, each faction has hundreds of different models to choose from and paint however you want! You can even come up with your own faction and rules to play with your friends!</p>
    <!--put image relative to paragraphs here, maybe showing minis/the game-->
    <img class="card-img" src="~/img/thegame.jpg" style="width: 500px;" />
    <p>Along with the game, there are hundreds of books and shows that you can read and watch to learn more about the grim dark world of Warhammer 40,000 as well as podcasts and YouTube channels diving into the information from these books and shows. If you’re interested in learning more about the lore, I would recommend watching the Warhammer 40K episode of Secret Level on Amazon Prime to get started.</p>
</div>
